<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
</div>
<div class="field">
  <%= f.label :age %><br />
  <%= f.text_field :age %>
</div>
</div>
<div class="field">
  <%= f.label :weight %><br />
  <%= f.text_field :weight %>
</div>
<div class="field">
  <%= f.label :height %><br />
  <%= f.text_field :height %>
</div>
<div class="field">
  <%= f.label :maxBench %><br />
  <%= f.text_field :maxBench %>
</div>
<div class="field">
  <%= f.label :maxSquat %><br />
  <%= f.text_field :maxSquat %>
</div>
<div class="field">
  <%= f.label :gym_id %><br />
  <%= f.collection_select(:gym_id, Gym.all, :id, :name) %>
</div>

<div class="field">
  <%= f.file_field :photo %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
