<%= link_to 'Gyms', "/gyms" %>
<%= link_to 'Leaderboard', "/leaderboard" %>
<td><%= link_to 'Show', current_user %></td>

<h1>Users</h1>
<p id="notice"><%= notice %></p> 

<div id="display">
       <% if current_user %>
Avatar <br /><%= image_tag current_user.photo.url(:small) %><br />
You are currently logged in as <%= current_user.username %>.<br />



       <% end %>
   </div>

