<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<!--
<p>
  <b>Crypted password:</b>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%= @user.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%= @user.persistence_token %>
</p>
-->
<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Weight:</b>
  <%= @user.weight %>
</p>

<p>
  <b>Max bench:</b>
  <%= @user.maxBench %>
</p>

<p>
  <b>Max Squat:</b>
  <%= @user.maxSquat %>
</p>

<p>
  <b>Gym:</b>
  <%= @user.gym.name %>
</p>

<p>
<%= image_tag @user.photo.url(:small) %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h1>Listing userposts</h1>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.userposts.each do |userpost| %>
  <tr>
    <td><%= userpost.body %></td>
    <td><%= link_to 'Show', userpost %></td>
    <td><%= link_to 'Edit', edit_userpost_path(userpost) %></td>
    <td><%= link_to 'Destroy', userpost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2>Add a comment:</h2>
<%= form_for [@user, Userpost.new] do |f| %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


