<%= form_for(@userpost) do |f| %>
  <% if @userpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userpost.errors.count, "error") %> prohibited this userpost from being saved:</h2>

      <ul>
      <% @userpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_area :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
