<h1>Listing userposts</h1>

<table>
  <tr>
    <th>Body</th>
    <th>user_id</th>
    <th></th>
    <th></th>
  </tr>

<% @userposts.each do |userpost| %>
  <tr>
    <td><%= userpost.body %></td>
    <td><%= userpost.user_id %></td>
    <td><%= link_to 'Show', userpost %></td>
    <td><%= link_to 'Edit', edit_userpost_path(userpost) %></td>
    <td><%= link_to 'Destroy', userpost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userpost', new_userpost_path %>
