<h1>Listing gymposts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gymposts.each do |gympost| %>
  <tr>
    <td><%= gympost.title %></td>
    <td><%= gympost.body %></td>
    <td><%= link_to 'Show', gympost %></td>
    <td><%= link_to 'Edit', edit_gympost_path(gympost) %></td>
    <td><%= link_to 'Destroy', gympost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gympost', new_gympost_path %>
