<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @gympost.title %>
</p>

<p>
  <b>Body:</b>
  <%= @gympost.body %>
</p>



<%= link_to 'Edit', edit_gympost_path(@gympost) %> |
<%= link_to 'Back', gymposts_path %>
